@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@font-face {
    font-family: 'Cairo' !important;
    src: url('../fonts/Cairo/Cairo.woff2') format('woff2-variations'),
    url('../fonts/Cairo/Cairo.woff2') format('woff2');
    font-weight: 300 800; /* للأوزان المتغيرة */
    font-style: normal;
    font-display: swap;
}

html, body, :root {
    font-family: 'Cairo', ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.fi-sidebar-header {
    min-height: 72px;
    padding-block: 12px;
}

.fi-sidebar-header .fi-brand {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.fi-sidebar-header .fi-brand img {
    height: 56px !important;
    max-height: 56px !important;
    width: auto !important;
}

.fi-sidebar[data-state="collapsed"] .fi-sidebar-header .fi-brand img {
    height: 36px !important;
    max-height: 36px !important;
}

.fi-sidebar-header .fi-brand .fi-brand-name {
    display: none;
}

.fi-topbar .fi-brand img {
    height: 36px !important;
    max-height: 36px !important;
    width: auto !important;
}


@theme {
    --font-sans: 'Cairo','Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


